.button_center {
    font-size: 29px;
    letter-spacing: 0.295em;
    padding: 25px;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .button_center {
        font-size: 17px;
        padding: 8px 11px;
        margin: 0 auto;
        text-align: center;
        width: 244px;
    }
}

@media screen and (max-width: 767px) {
    .button_center {
        font-size: 15px;
        padding: 8px 11px;
        margin: 0 auto;
        text-align: center;
    }
}