.doctors__person {
    display: flex;
    align-items: flex-start;
    gap: 125px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .doctors__person {
        gap: 15px;
        align-items: center;
    }
}