.doctors__photo {
    width: 450px;
    aspect-ratio: 1 / 1;
    border-radius: 40px;
}

@media screen and (max-width: 1279px) {
    .doctors__photo {
        width: 410px;
    }
}

@media screen and (max-width: 1023px) {
    .doctors__photo {
        width: 250px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 767px) {
    .doctors__photo {
        width: 215px;
    }
}