.doctors__name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .doctors__name-container {
        flex-direction: column;
        gap: 15px;
        padding-bottom: 15px;
    }
}