.reviews__telegram {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    row-gap: 20px;
    padding: 0;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .reviews__telegram {
    padding: 0;
    flex-wrap: wrap;
    margin: 0 auto;
    }
}