.questions__list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    max-width: 1250px;
    padding: 0;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .questions__list {
        gap: 25px;
    }
}