.doctors__nickname {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    color: #5A9844;
    text-shadow: 0 0 20px #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .doctors__nickname {
        font-size: 18px;
        text-align: center;
    }
}