.header__menu-link {
    margin: 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

@media screen and (max-width: 1279px) {
    .header__menu-link {
        font-size: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .header__menu-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .header__menu-link {
        font-size: 10px;
    }
}