.about__price {
    font-family: 'Journalism', 'Arial', sans-serif;
    font-size: 75px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .about__price {
        margin: 0 23px;
        font-size: 35px;

    }
}